section {
    background-color: #fff;
    border-bottom: 2px solid #FF8E4B;

    -moz-box-shadow:    inset 0 0 1px #FF8E4B;
    -webkit-box-shadow: inset 0 0 1px #FF8E4B;
    box-shadow:         inset 0 0 1px #FF8E4B;
    margin-bottom: 50px;
}
section div {
    width: 1200px;
    margin: 0 auto;
}

section div a {
    display: block;
    padding: 20px;
}