section {
    background-color: #fff;
    box-shadow: 0 0 5px #888888;
}

h3 {
    font-size: 20px;
    display: block;
    background-color: #13829f;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}