<section class="make-transfer">
    <h3>
        Make a Transfer
    </h3>
    <form>
        <fieldset>
            <label>From Account</label>
            <input type="text" placeholder="Free Checking(4692) - $5824.76">
        </fieldset>

        <fieldset>
            <label>To Account</label>
            <input type="text" placeholder="Georgia Power Electric Company">
        </fieldset>

        <fieldset>
            <label>Amount</label>
            <input type="text" placeholder="$ 0.00">
        </fieldset>

        <button type="submit">Submit</button>
    </form>
</section>