section {
    background-color: #fff;
    box-shadow: 0 0 10px #888888;
}

h3 {
    font-size: 20px;
    display: block;
    background-color: #0C8397;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}