<section class="transactions-container">
    <app-search-filter (onSearch)="handleSearch($event)" (onFilter)="handleSort($event)"></app-search-filter>
    <ul>
        <li *ngFor="let log of transactionsLog">
            <span class="bar" [style.backgroundColor]="log.categoryCode"></span>
            <span class="date">{{log.transactionDate | date:'MMM d'}}</span>
            <span class="image"><img width="40" [src]="log.merchantLogo"></span>
            <span class="transactionType">
                <p>
                    <strong>{{log.merchant}}</strong>
                    {{log.transactionType}}
                </p>
            </span>
            <span class="amount">{{log.amount | currency:'USD':true}}</span>
        </li>
    </ul>
</section>