<ul *ngIf="$transactions | async as transactions else transactionsLoading">
  <li *ngFor="let log of transactions" [style.backgroundColor]="categoryCode">
    <span class="date">{{log.transactionDate | date:'MMM d'}}</span>
    <span class="image"><img width="50" [src]="log.merchantLogo"></span>
    <span>
      <strong>{{log.merchant}}</strong>
      {{log.transactionType}}
    </span>
    <span class="amount">{{log.amount | currency:'USD':true}}</span>
  </li>
</ul>

<ng-template #transactionsLoading>
  <div>
    Loading...
  </div>
</ng-template>