section {
    background-color: #fff;
    padding: 0 0 15px;
    box-shadow: 0 0 10px #888888;
}

h3 {
    font-size: 24px;
    display: block;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    background: url('../../assets/icons/briefcase.png') no-repeat #0C8397 15px 50%;
}